body {
    background-color: rgb(170, 153, 225);
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("space\ station\ herta.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.herta {
    width: 200px;
    height: 200px;
    display: inline;
    position: absolute;
    right: -200px;
    transition-property: right;
    transition-duration: 2s;
    transition-timing-function: linear;
}

.text {
    position: absolute;
}

#clickCount {
    color: rgb(255, 255, 255);
    font-size: 40px;
}